<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkNIKE" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            NIKE
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkNIKE">
            <li><a class="dropdown-item" href="#">Running</a></li>
            <li><a class="dropdown-item" href="#">Basketball</a></li>
            <li><a class="dropdown-item" href="#">Football</a></li>
            <li><a class="dropdown-item" href="#">Training</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkADIDAS" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ADIDAS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkADIDAS">
            <li><a class="dropdown-item" href="#">Originals</a></li>
            <li><a class="dropdown-item" href="#">Running</a></li>
            <li><a class="dropdown-item" href="#">Soccer</a></li>
            <li><a class="dropdown-item" href="#">Training</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkFILA" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            FILA
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkFILA">
            <li><a class="dropdown-item" href="#">Sneakers</a></li>
            <li><a class="dropdown-item" href="#">Apparel</a></li>
            <li><a class="dropdown-item" href="#">Accessories</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkARMANI" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ARMANI
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkARMANI">
            <li><a class="dropdown-item" href="#">Men</a></li>
            <li><a class="dropdown-item" href="#">Women</a></li>
            <li><a class="dropdown-item" href="#">Accessories</a></li>
          </ul>
        </li>
        <!-- New dropdowns -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkPUMA" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PUMA
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkPUMA">
            <li><a class="dropdown-item" href="#">Running</a></li>
            <li><a class="dropdown-item" href="#">Soccer</a></li>
            <li><a class="dropdown-item" href="#">Basketball</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkBATA" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            BATA
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkBATA">
            <li><a class="dropdown-item" href="#">Men</a></li>
            <li><a class="dropdown-item" href="#">Women</a></li>
            <li><a class="dropdown-item" href="#">Kids</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkTimberland" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Timberland
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkTimberland">
            <li><a class="dropdown-item" href="#">Boots</a></li>
            <li><a class="dropdown-item" href="#">Shoes</a></li>
            <li><a class="dropdown-item" href="#">Accessories</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
