<div>
  <h1 class="title-shop">SHOP PUMA</h1>
  <div class="product-container">
    <div class="product">
      <img src="assets/p1.jpg" alt="puma1">
      <button class="shop-now">Shop Now</button>
    </div>
    <div class="product">
      <img src="assets/p1.jpg" alt="puma2">
      <button class="shop-now">Shop Now</button>
    </div>
    <div class="product">
      <img src="assets/p3.jpg" alt="puma3">
      <button class="shop-now">Shop Now</button>
    </div>
    <div class="product">
      <img src="assets/p3.jpg" alt="puma4">
      <button class="shop-now">Shop Now</button>
    </div>
  </div>
</div>
